:root{
  --main-color: #ff234c;
}
body {
  background: #ffffff;
  font-family: "IBM Plex Sans Arabic", sans-serif;
  color: #000;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 27px !important;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 767.98px) {
  .swiper-slide {
    width: 62%;
    padding: 0;
    margin: 0;
  }
  img {
    max-height: 7.75rem;
  }
}

.location .location-btn {
  background-color: hsla(349, 100%, 57%, 0.03);
  color: var(--main-color);
  line-height: 1.25rem;
}

.location .location-btn:focus {
  box-shadow: none !important;
  color: var(--main-color) !important;
}

.search-btn,
.search-input {
  background-color: #fbfbfb;
  border: none;
}
.search-btn {
  height: 100%;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.search-input {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.btn:focus,
input:focus {
  box-shadow: none !important;
  background-color: #fbfbfb !important;
}

.card-description span {
  color: var(--main-color);
}

.navbar .navbar-brand {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0;
  position: relative;
}
.navbar .navbar-brand span,
.navbar .navbar-brand .user-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

}
.navbar .navbar-brand .user-img {
  width: 24px;
  height: 24px;
}


.badge.category-item {
  border-radius: 12px;
}
.active {
  color: var(--main-color);
}
.mynav-toggle {
  background-color: var(--main-color);
}


.category .active{
color: var(--main-color) !important;
border-color: var(--main-color) !important;
background-color: hsla(349, 100%, 57%, 0.03);
}